body {
  padding:40px;
  margin: 0;
  background-color: rgb(182, 206, 206);
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.workspace{
  background-color: antiquewhite;
  height: 600px;
  width: 600px;
}
